<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
</head>

<body>
    <header>
        {{#if user}}
            <nav>
                <div id="nav-chat">
                    <a href="/chat">Chat en vivo!</a>
                </div>
                <div id="nav-welcome">
                    <p>Bienvenido {{user}} - Rol: {{admin}}</p>
                </div>
                <button id="logout">Logout</button>
            </nav>
        {{/if}}
    </header>
    {{{body}}}
    <footer>
        <p>Lucas Martinez</p>
        <i class="fas fa-rocket"></i>
    </footer>
</body>

</html>

<script src="/js/layout.js"></script>